.about {
    padding: 6rem 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

.about-container {
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 8px 40px rgba(86, 163, 166, 0.4);
    border: 1px solid var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    max-width: 1000px;
    gap: 3rem;
    margin-top: 3rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-container:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 40px rgba(86, 163, 166, 0.4);
}

.about-image {
    max-width: 220px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 8px 40px rgba(86, 163, 166, 0.4);
    margin-bottom: 2rem;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.about-image:hover img{
    transform: scale(1.05);
}

.about-text {
    max-width: 800px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-image {
        margin: 0 auto 1.5rem auto;
    }
}